<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <handlers>
            <remove name="Python" />
            <add name="censusreporter" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python27_x86\python.exe|C:\git\censusreporter\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
